// Midtstill overlay-tekst
.page__hero--overlay .page__title,
.page__hero--overlay .page__lead,
.page__hero--overlay .page__hero-caption,
.page__hero--overlay p {
  text-align: center;
}

// Legg til flere egne stiler her etter hvert
.page__content h2 {
  padding-bottom: 0.3em;
  border-bottom: 0;
  // border-bottom: 1px solid #cecfd1;
}