// Midtstill overlay-tekst.
.page__hero--overlay .wrapper {
  text-align: center;
}
// Legg til flere egne stiler her etter hvert
.page__content h2 {
  padding-bottom: 0.3em;
  border-bottom: 0;
  // border-bottom: 1px solid #cecfd1;
}